<section class="page-title style1 parallax parallax1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="wrap-box-search style1">
							<form action="#" method="get" accept-charset="utf-8">
								<span>
									<input type="text" placeholder="What are you looking for ?" name="search">
								</span>
								<span class="location">
									<span class="ti-location-pin"></span>
									<input type="text" placeholder="Location" name="location">
								</span>
								<span class="categories">
									<span class="ti-angle-down"></span>
									<select name="categories">
										<option value="">All Categories</option>
										<option value="">All Categories</option>
										<option value="">All Categories</option>
									</select>
								</span>
								<button type="submit" class="search-btn">Search</button>
							</form><!-- /form -->
						</div><!-- /.wrap-box-search -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
			<div class="overlay"></div>
		</section><!-- /.page-title -->

		<section class="flat-row flat-imagebox style3">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="filter style2">
							<div class="filter-title">
								<h5>Filter by tag:</h5>
								<span class="ti-angle-down"></span>
							</div>
							<div class="clearfix"></div>
							<div class="select-filter">
								<ul class="list-filter quarter">
									<li class="active">
										<span class="ti-check-box"></span>Wireless Internet
									</li>
									<li>
										<span class="ti-layout-width-full"></span>Street Parking
									</li>
									<li>
										<span class="ti-layout-width-full"></span>Kitchen
									</li>
									<li class="active">
										<span class="ti-check-box"></span>Bike Parking
									</li>
								</ul>
								<ul class="list-filter quarter">
									<li>
										<span class="ti-layout-width-full"></span>Pets Friendly
									</li>
									<li>
										<span class="ti-layout-width-full"></span>Cable TV
									</li>
									<li class="active">
										<span class="ti-check-box"></span>Smoking Allowed
									</li>
									<li>
										<span class="ti-layout-width-full"></span>Good for Kids
									</li>
								</ul>
								<ul class="list-filter quarter">
									<li>
										<span class="ti-layout-width-full"></span>Pool
									</li>
									<li>
										<span class="ti-layout-width-full"></span>Washer
									</li>
									<li>
										<span class="ti-layout-width-full"></span>Hair Dryer
									</li>
									<li>
										<span class="ti-layout-width-full"></span>Wheelchair Accessible
									</li>
								</ul>
								<ul class="list-filter quarter">
									<li>
										<span class="ti-layout-width-full"></span>Ultra High End
									</li>
									<li>
										<span class="ti-layout-width-full"></span>Pricey
									</li>
									<li class="active">
										<span class="ti-check-box"></span>Most Reviewed
									</li>
									<li>
										<span class="ti-layout-width-full"></span>Highest Rated
									</li>
								</ul>
								<div class="clearfix"></div>
							</div><!-- /.select-filter -->
						</div><!-- /.filter -->
						<div class="filter-result style2">
							<div class="result">
								5 Results Found
							</div>
							<ul class="arrange">
								<li class="active">
									<span class="ti-view-grid"></span>
								</li>
								<li>
									<span class="ti-view-list"></span>
								</li>
							</ul>
						</div><!-- /.filter-result -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="wrap-imagebox style3">
					<div class="row">
						<div class="col-sm-12">
							<div class="imagebox style2">
								<div class="box-imagebox">
									<div class="box-header">
										<div class="box-image">
											<img src="<%= asset_path 'page/img-v2-01.png'%>" alt="">
											<a href="#" title="">Preview</a>
										</div>
									</div><!-- /.box-header -->
									<div class="box-content">
										<div class="box-title ad">
											<span>Ad</span><a href="#" title="">AN Restaurant</a><i class="fa fa-check-circle" aria-hidden="true"></i>
											<div class="queue">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-half-o" aria-hidden="true"></i>
											</div>
										</div>
										<ul class="rating">
											<li>5 rating</li>
											<li>Moderate</li>
											<li>Restaurant</li>
										</ul>
										<div class="box-desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  
										</div>
										<ul class="location">
											<li class="address"><span class="ti-location-pin"></span>Hanoi, Vietnam</li>
											<li class="closed">Closed Now !</li>
										</ul>
									</div><!-- /.box-content -->
								</div><!-- /.box-imagebox -->
							</div><!-- /.imagebox style2 -->
						</div><!-- /.col-sm-12 -->
						<div class="col-sm-12">
							<div class="imagebox style2">
								<div class="box-imagebox">
									<div class="box-header">
										<div class="box-image">
											<img src="<%= asset_path 'page/img-v2-02.png' %>" alt="">
											<a href="#" title="">Preview</a>
										</div>
									</div><!-- /.box-header -->
									<div class="box-content">
										<div class="box-title">
											<a href="#" title="">Acantara</a><i class="fa fa-check-circle" aria-hidden="true"></i>
											<div class="queue">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
										<ul class="rating">
											<li>10 rating</li>
											<li>Ultra High End</li>
											<li>Hotel</li>
										</ul>
										<div class="box-desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
										</div>
										<ul class="location">
											<li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
											<li class="open">Open Now !</li>
										</ul>
									</div><!-- /.box-content -->
								</div><!-- /.box-imagebox -->
							</div><!-- /.imagebox style2 -->
						</div><!-- /.col-sm-12 -->
						<div class="col-sm-12">
							<div class="imagebox style2">
								<div class="box-imagebox">
									<div class="box-header">
										<div class="box-image">
											<img src="<%= asset_path 'page/img-v2-03.png'%>" alt="">
											<a href="#" title="">Preview</a>
										</div>
									</div><!-- /.box-header -->
									<div class="box-content">
										<div class="box-title">
											<a href="#" title="">Intercontinental</a><i class="fa fa-check-circle" aria-hidden="true"></i>
											<div class="queue">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
										<ul class="rating">
											<li>6 rating</li>
											<li>Pricey</li>
											<li>Hotel</li>
										</ul>
										<div class="box-desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
										</div>
										<ul class="location">
											<li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
											<li class="open">Open Now !</li>
										</ul>
									</div><!-- /.box-content -->
								</div><!-- /.box-imagebox -->
							</div><!-- /.imagebox style2 -->
						</div><!-- /.col-sm-12 -->
						<div class="col-sm-12">
							<div class="imagebox style2">
								<div class="box-imagebox">
									<div class="box-header">
										<div class="box-image">
											<img src="<%= asset_path 'page/img-v2-01.png'%>" alt="">
											<a href="#" title="">Preview</a>
										</div>
									</div><!-- /.box-header -->
									<div class="box-content">
										<div class="box-title ad">
											<span>Ad</span><a href="#" title="">AN Restaurant</a><i class="fa fa-check-circle" aria-hidden="true"></i>
											<div class="queue">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-half-o" aria-hidden="true"></i>
											</div>
										</div>
										<ul class="rating">
											<li>5 rating</li>
											<li>Moderate</li>
											<li>Restaurant</li>
										</ul>
										<div class="box-desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  
										</div>
										<ul class="location">
											<li class="address"><span class="ti-location-pin"></span>Hanoi, Vietnam</li>
											<li class="closed">Closed Now !</li>
										</ul>
									</div><!-- /.box-content -->
								</div><!-- /.box-imagebox -->
							</div><!-- /.imagebox style2 -->
						</div><!-- /.col-sm-12 -->
						<div class="col-sm-12">
							<div class="imagebox style2">
								<div class="box-imagebox">
									<div class="box-header">
										<div class="box-image">
											<img src="<%= asset_path 'page/img-v2-02.png'%>" alt="">
											<a href="#" title="">Preview</a>
										</div>
									</div><!-- /.box-header -->
									<div class="box-content">
										<div class="box-title">
											<a href="#" title="">Acantara</a><i class="fa fa-check-circle" aria-hidden="true"></i>
											<div class="queue">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
										<ul class="rating">
											<li>10 rating</li>
											<li>Ultra High End</li>
											<li>Hotel</li>
										</ul>
										<div class="box-desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
										</div>
										<ul class="location">
											<li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
											<li class="open">Open Now !</li>
										</ul>
									</div><!-- /.box-content -->
								</div><!-- /.box-imagebox -->
							</div><!-- /.imagebox style2 -->
						</div><!-- /.col-sm-12 -->
					</div><!-- /.row -->
					<div class="row">
						<div class="col-md-12">
							<div class="btn-more">
								<a href="#" title="">Show More</a>
							</div>
						</div>
					</div><!-- /.row -->
				</div>
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox style3 -->

		<section class="flat-row flat-subscribe">
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="subscribe-text">
							Subscribe and be notified about new locations
						</div>
					</div><!-- /.col-sm-7 -->
					<div class="col-sm-5">
						<div class="subscribe-form">
							<form action="#" method="get" accept-charset="utf-8">
								<div class="subscribe-content">
									<div class="input-field">
										<input type="email" name="yourEmail" placeholder="Your Email" />
									</div>
									<button><span class="arrow_right"></span></button>
								</div>
							</form>
						</div><!-- /.subscribe-form -->
					</div><!-- /.col-sm-5 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-subscibe -->
		
	<% content_for 'javascript_content' do %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
	<%= javascript_include_tag params[:controller] %>
	
	<script>

	    
	</script>
	<% end %>